/* font style  */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Faculty+Glyphic&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    
    
  }

  .btn-primary{
    width: 180px;
    border-radius: 8px;
    height: 64px;
    color:#FFF ;
    cursor: pointer;
    font-size: 20px;
    border: 0;
    font-weight: 600;
    margin-bottom: 50px;
    margin-top: 32px;
    background-color:#FF900E ;
  }

  .btn-primary-explore-more{
    margin-top: 32px;
    width: 180px;
    border-radius: 8px;
    height: 64px;
    color:#FFF ;
    cursor: pointer;
    font-size: 20px;
    border: 0;
    font-weight: 600;
    margin-bottom: 50px;
    margin-top: 32px;
    background-color:#FF900E ;
  }

header{
  background-color: #FF900E1A;
 
}

nav{
  margin-left: 200px;
  margin-right: 210px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav>ul{

  display: flex;
 
  
}

nav li {
 margin-left: 30px;
  list-style: none;
  
  font-weight: 500;
  font-size: 1rem;
}
nav li a{
  text-decoration: none;
  color:#424242 ;
}
.nav-title{

  font-size: 2rem;
  
}
.banner{
  margin-left: 200px;
  margin-right: 210px;
}
.banner-content{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
  color:#131313 ;
  
}

.img-banner{
  width: 100%;
}


/* teams section style */
main{
  margin-left: 200px;
  margin-right: 200px;
}

.teams-section{
  width: 100%;

 
  display: flex;
  align-items: center;
}

.teams-text-containar{
  margin-top: 85px;
}
.teams-containar{
  margin-top: 85px;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}

.teams-containar>img{
  border-radius: 8px;
  
}

.team-text-h2{
  font-size: 45px;
  color: #727272 ;
  margin-bottom: 24px;
}

.team-samp-1{
  font-size: 45px;
  color:#131313 ;
}
.team-samp-2{
  font-size: 45px;
  color: #FF900E ;
}

.teams-text-containar >div{

  margin-left: 73px;
  max-width: 537px;
}
.team-text-description{
  margin-bottom: 0px;
}

.text-light-gray{

  color: #727272;
}
.some-facts-h3{
  font-size: 45px;
  margin-bottom: 5px;
}

.facts-card-containar{
  justify-content: space-around;
  display: flex;
  
}

.facts-card-containar>.card{
  padding: 30px;

  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
 
 

}
.facts-card-containar .card-title{

   font-weight: 600;
   color: #727272;
   margin-top: 5px;

}
.facts-card-containar .card-stats{
  font-size: 2.8rem;
  margin-top: 10px;
  margin-bottom: 10px;
  
}













/* responsible web */
/* mobile divicees */

@media screen and (max-width:576px) {



  nav{
    margin-left: 0px;
    margin-right: 0px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .banner{
    margin-left:0px;
    margin-right:0px;
  }

  nav li {
    margin-left: 0px;
     
   
   }

   .li-1-m{

    margin-left: 30px;
   }

   .nav-ul-1{

    padding-left: 0px;
   }

   main{
    margin-left: 2px;
    margin-right: 2px;
   }
   .teams-section{
    flex-direction: column;
   }
   .teams-containar>img {
   
    width: 100%;
   }
     .teams-containar{
  width: 100%;
   }

   .teams-text-containar >div {
    text-align: center;
    margin-left: 0;
  
}


  
}


/* tablet midium divces */

@media screen and (min-width:576.1px) and (max-width:960px){


  nav{
    margin-left: 100px;
    margin-right: 100px;
    
    
  }

  .banner{
    margin-left:100px;
    margin-right:100px;
  }


  main{
    margin-left: 100px;
    margin-right: 100px;
   }
   .teams-section{
    flex-direction: column;
   }
   .teams-containar>img {
   
    width: 100%;
   }
     .teams-containar{
  width: 100%;
   }

   .teams-text-containar >div {
    text-align: center;
    margin-left: 0;
  
}

}

@media screen and (min-width:960.1px)and (max-width:1700px) {

  nav{
    margin-left: 100px;
    margin-right: 100px;
    
    
  }

  .banner{
    margin-left:100px;
    margin-right:100px;
  }


  main{
    margin-left: 100px;
    margin-right: 100px;
   }

   .teams-containar>img {

    width: 90%;
}
   
  

  
}